.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
  }
  #hero-image {
      height:auto;
      width:100%;
      background: url("../images/hero.jpg") no-repeat center center;
      animation-name: hero-zoom;
      animation-duration: 5s;
      animation-fill-mode: forwards ;
     
      }
  .img-thumbnail {
      padding: 0.25rem;
      width: 100%;
    }
  #hero-outer {
      overflow: hidden;
      position: relative;
  }
  @keyframes hero-zoom {
      from {
          transform: scale(1);
      }
      to {
          transform: scale(1.1);
      }
  }
  #covertext {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 80%;
    height: auto;
    padding: 2rem;
    background-color: rgba(224, 229, 233, 0.7);
    margin: 3rem;
    color: #191718;
  }
  #charging-zone-aims {
      background-color: #285185;
  }

  .navbar-custom {
    background-color: #e0e5e9;
    color: #191718;
  }
  
  hr {
      border-top: 1px solid #777777;
      width: 100%;
      margin: 4px 0;
  }
  #welcome {
      margin: 20px 0;
      text-align: center;
      }
  #circle-holder {
      width: 300px;
      height: 300px;
      padding: 30px;
      border-style: solid;
      border-color: #cccccc;
      border-width: 1px;
      border-radius: 50%;
      margin: 0 auto;
  }
      #connector-types {
          background-color: #D67940;
      }
      #welcome-title {
          margin: 20px 0;
          text-align: center;
          padding-top: 50px;
          color: white;
      }
      .types p {
          padding-top: 20px;
          color:white;
          text-align: center;
      
      }
      .types h4 {
           color: white;
           text-align: center;
      }
      .types h2 {
          color: white;
          text-align: center;
          padding-top: 30px;
      }
  footer {
      padding: 1rem;
      background-color: #118efa;
  }
      #charging-zone-aims {
          width: 100%;
          height: auto;
          margin: 0 auto ;
          background-color: #191718;
      }

      #welcome {
          padding: 30px 0;
          margin-top: 0;
      }
       
      #connector-types {
          width: 100%;
          height: auto;
          margin: 0 auto;
          background-color: #0a62d0 ;
          
              }
      
      
  #charging {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #1144fa;
         }

.container-contact {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

  #charging h3 {
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      
      
  }

  #charging h4 {
    text-align: center;
    padding-top: 40px;

  }
  
  .contactus {
      background-color: #1144fa;
      padding: 30px;
      
  }
  .contactus h3 {
      text-align: center;
  }
  .charging-map {
      padding-top: 30px;
  }
  .text-center h4 {
      padding-left: 60px;
      color: white;
      text-align: center;
  }
  .address-contact {
      text-align: right;
  }
  .social-network h3 {
      display: inline-block;
      text-align: center;
      
  }
  .special-social {
    width: 100%;
  }
  .special-social button {
    width: 23%;
  }
  .social-network li {
      display: inline-block;
      text-align: center;
      
  }
  .social-networks i {
      font-size: 110%;
      color: #777777;
      text-align: center;
      padding: 0;
      margin: 0 auto;
  }
  ul {
      list-style-type: none;
  }

  label {
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    margin-left: 20px;
}

  input {
      display: inline-block;
      float: left;
  }
  .charging-zone h4 {
      color: #f3d849;
      text-align: center;
  }
  .charging-zone i {
      padding-left: 30px;
  }
  .charging-zone h2 {
      text-align: center;
      padding-top: 30px;
      color: #f3d849;
  }
  .charging-zone p {
      text-align: center;
      color: #f3d849;
  }

  #contact-us {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #1144fa;
  }

  #contact-us h3 {
      text-align: center;
      padding-top: 30px;
  }
  input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    .container-contact {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
  









