



.container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

@media only screen and (max-width: 325px) {
    .navbar-brand {
      font-size: 0.9rem;
    }
  }

#hero-image {
    height: 300px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.img-thumbnail {
    padding: 0.25rem;
    width: 100%;
}
#hero-outer {
    overflow: hidden;
    position: relative;
}
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}
#covertext {
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 80%;
    height: auto;
    padding: 2rem;
    background-color: rgba(24, 183, 190, 0.7);
    margin: 3rem;
    color: white;
   font-family: "OpenSans", sans-serif;
}

label {
    color: white;
    font-weight: 100;
    padding-top: 10px;
}

form {
    padding-left: 50px;
    padding-bottom: 50px;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 4px 0;
}
#welcome {
    margin: 20px 0;
    text-align: center;
}
#circle-holder {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#welcome-title {
    margin: 20px 0;
    text-align: center;
    padding-top: 50px;
    color: white;
    font-family: "OpenSans", sans-serif;
}
.types p {
    padding-top: 20px;
    color: white;
    text-align: center;
    font-family: "OpenSans", sans-serif;
}

.types h5 {
    color: white;
    text-align: center;
    font-family: "OpenSans", sans-serif;
}

.types h4 {
    color: white;
    text-align: center;
    font-family: "OpenSans", sans-serif;
}

.types h3 {
    color: white;
    text-align: center;
    padding-top: 30px;
    font-family: "OpenSans", sans-serif;
}

footer {
    padding: 1rem;
    background-color: #f9f7f0;
    color: black;

}

#charging-zone-aims {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #072a40;
}

#welcome {
    padding: 30px 0;
    margin-top: 0;
}

#connector-types {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #096477;
}

#charging {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #072a40;
}

.container-contact {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#charging h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: black;
    font-family: "OpenSans", sans-serif;
    font-size: xx-large;
}

#charging h2 {
    text-align: center;
    padding-top: 40px;
    color: white;
    font-family: "OpenSans", sans-serif;
    font-size: larger;
    font-weight: 400;
}

#charging button {
    text-align: center;
}

#charging p {
    color: white;
    font-family: "OpenSans", sans-serif;
}

.contactus {
    background-color: #072a40;
    padding: 30px;
}
.contactus h3 {
    text-align: center;
    color: white;
    font-family: "OpenSans", sans-serif;
}
.charging-map {
    padding-top: 30px;
}
.text-center h4 {
    padding-left: 60px;
    color: black;
    text-align: center;
    font-family: "OpenSans", sans-serif;
}

.address-contact {
    text-align: right;
}
.social-network h3 {
    display: inline-block;
    text-align: center;
}
.special-social {
    width: 100%;
}
.special-social button {
    width: 23%;
}
.social-network li {
    display: inline-block;
    text-align: center;
}
.social-networks i {
    font-size: 110%;
    color: #777777;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}
ul {
    list-style-type: none;
}

input {
    display: inline-block;
    float: left;
}

.charging-zone h3 {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "OpenSans", sans-serif;
}
.charging-zone i {
    padding-left: 30px;
    color: white;
}
.charging-zone h5 {
    text-align: center;
    padding-top: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: "OpenSans", sans-serif;
}
.charging-zone p {
    text-align: center;
    color: white;
    font-family: "OpenSans", sans-serif;
}

#contact-us {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #072a40;
}

#contact-us h3 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-family: "OpenSans", sans-serif;
}

.container-contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.contact-container {
    background-color: #18b7be;
}

.form-horizontal {
    background-color: #18b7be;
}

.navbar a {
    color: black;
    font-weight: 600;
    font-family: "OpenSans", sans-serif;
}

.navbar {
    background-color: #f9f7f0;
}

.join-the-club {
    display: block;
    margin: auto;
}



.modal-body h5 ol {
    color: black;
    font-family: "OpenSans", sans-serif;
}

.icons {
    margin-right: 20px;
}

.form-horizontal legend {
    padding-left: 30px;
    font-weight: 500;
    padding-top: 20px;
}

.popup-form h5 {
    color: black;
    font-family: "OpenSans", sans-serif;
}

.popup-form label {
    color: black;
}

#exampleModalLabel {
    color: black;
}



.map {
    width: 100%;
}


